.Container{
    display: flex;
    
}    
.Content{
    width: 50%; 
}
.ContainerLink{
    margin-left: 44px;
    text-decoration: none;
    font-weight: 600;
    color: #1e9e6a;
}
    .ContainerLink:hover{
        text-decoration: underline;
        color: #14704b;
    }
.PositionRadio{
    position: relative;
    margin-right: 7px;
    font-weight: 700;
    color: #1a202c;
    cursor: pointer; 
}
    .PositionRadio:checked{
        background-color: red;
}
@media only screen and (max-width: 768px) {
    .Container{
       font-size: 1em;
       border: solid 1px;
    }
    .ContainerLink{
        border: solid 1px;
        
    }
}