.Container{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.Content{
    color: #1a202c;
    display: flex;
    
    align-items: center;
    font-size: 1.12em;
    font-weight: 600;
    margin-right: 1%;
}

.SignIn{
    display: flex;
    align-items: center;
    text-decoration: none;
    height: 6vh;
    color: #1e9e6a;
}
    .SignIn:hover{
        text-decoration: underline;
        color: #14704b;
    }