@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
*{
    font-family: "Archivo", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.App{
    display: flex;
    justify-content: flex-end;
}
.GlobalImg{
    margin-top: 25px;
    margin-right: 120px;
    display: flex;
    width: 30%;
}
@media only screen and (max-width: 600px) {
    .GlobalImg{
        display: none;
    }
}
@media only screen and (min-width: 600px) {
    .GlobalImg{
        display: none;
    }
}
@media only screen and (min-width: 768px) {
    .GlobalImg{
        display: none;
    }
    
}
@media only screen and (min-width: 992px) {
    .GlobalImg{
        display: block;
    }
}
@media only screen and (min-width: 1200px) {
    .GlobalImg{
       display: block;
    }
}