.Container{
    flex-direction: column;
    color: #1A202C;
    width: 60%;
    height: auto;
    margin-bottom: 40px;
   
}
h1{
    position: relative;
    font-weight: bold;
}
h2{
    position: relative;
    font-weight: 600;
    font-size: 1.3em;
    margin-bottom: 10px;  
}

