/* Smartphones (600px para baixo) */
@media only screen and (max-width: 600px) {
    .MediaQuery{
        width: 90%;
        margin: auto;
    }
}
@media only screen and (min-width: 600px) {
    .MediaQuery{
        width: 90%;
        margin: auto; 
    }
}

@media  (min-width:729px) and (max-width: 729px) and (min-height: 320px) and (max-height: 425px){
    /* Modo Retrato */
    .MediaQuery{
        height: auto;
    }
      }

@media only screen and (min-width: 768px) {
    .MediaQuery{
        width: 60%;
        margin: auto;
    }
}
@media only screen and (min-width: 992px) {
    .MediaQuery{
        transform: scale(0.9);
        width: 55%;
    }
}
@media only screen and (min-width: 1200px) {
    .MediaQuery{
        transform: scale(1);
    }
}